    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --main-bg-color-1: black;
    --main-bg-color-2: white;
    --main-bg-color-3:  #69b849;
    --main-bg-color-4: #5F5F63;
    font-family: 'Inter', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    background: linear-gradient(var(--main-bg-color-3), var(--main-bg-color-2));
    background-size: cover; 
    background-repeat: no-repeat;
    font-size: 18px;
    box-sizing: border-box;
} 

/* Header  */

.Header{
    grid-area: header;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.Header__Logo{
    color: var(--main-bg-color-4);
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.Header__Shortcuts{
    color: var(--main-bg-color-4);
    grid-column-start: 4;   
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Header__bottons{
    list-style: none;
}
.Header__Botton_Active{
    text-decoration:underline;
    color: var(--main-bg-color-4);
}
.Header__Botton{
    text-decoration: none;
    color: var(--main-bg-color-2);
}
.Header__Botton:hover{
    text-decoration: underline;
}
#side-menu {
    display: none;
}
.Header__Menu{
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

/* Main */
.Main{
    margin: 20px;
    height: auto;
    gap: 10px;
}
.Main__Section--Primary{
    border-radius: 20px;
    border: 2px solid black;
    margin-bottom: 30px;
}
.Main__Article--Primary{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Main__Image--Primary{
    height: 100%;
    padding: 10px;
    border-radius: 50%;
}
.Main__Image--Primary:hover {
    transform: scale(0.8);
    transition: transform 0.5s ease; 
    cursor: pointer;
}
.Main__Text--Primary{
    width: 50%;
    font-size: 20px;
    text-align: justify;
}

/* .Main__Article{
    grid-column: 1/1;
    grid-auto-flow: row;
    border: 2px solid black;
    border-radius: 20px;
} */
.Main__Section{
    display: grid;
    grid-auto-flow:row ;
    width: auto;
    grid-template-columns: repeat(5, 1fr); /* Define el tamaño de las columnas */
    grid-auto-rows: auto;
    grid-gap: 10px; /* Ajusta el espacio entre los elementos según tus necesidades */
}
.Main__Article{
    border: solid 2px black;
    border-radius: 20px;
}
.Main__Image{
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}
.Main__Image:hover {
    transform: scale(0.8);
    transition: transform 0.5s ease; 
    cursor: pointer;
}
.Main__Text{
    font-size: 15px;
    margin: 10px;
    text-align: justify;
}

/* Footer */

.Footer{
    display: flex;
    height: 200px;
    justify-content: space-evenly;
    align-items: center;
    color: var(--main-bg-color-4);
}
.Footer__Box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
}
.Footer__Email{
    text-decoration: none;
    color: var(--main-bg-color-4);
}
.Footer__Icons{
    list-style: none;    
}
.Footer__Icons a{
    text-decoration: none;
    color:var(--main-bg-color-2) ;
    background-color: var(--main-bg-color-4);
    border-radius: 100%;
    padding: 4px;
    margin-right: 5px;
}
.Footer__Shortcuts{
    text-decoration: none;
    color: var(--main-bg-color-4);
}

/* Medias Querys */
@media (max-width: 1300px) {
    
    /* Header */

    .Header{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-evenly;
        width: 100%;
}
    .Header__Shortcuts{
        grid-column-start: 3;
    }

    /* Main */
    .Main__Section{
        grid-template-columns: repeat(4, 1fr);
    }
    

    /* Footer */

    .Footer{
        display: flex;
        height: 200px;
        justify-content: space-around;
    }
}
@media (max-width: 1000px) {
    .Header{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 70px;
    }
    .Header__Shortcuts {
        grid-column: 2/3;
        justify-content: space-evenly;
    }

    .Main__Text--Primary{
        font-size: 18px;
    }
    .Main__Section{
        grid-template-columns: repeat(3, 1fr);
    }
    .Main__Text{
        font-size: 16px;
    }
    .Main__Image--Primary{
        height: 80%;
    }
    .Main__Text{
        font-size: 12px;
    }
    

}
@media (max-width: 800px){
    
    /* Header */
    
    .Header{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .Header__Shortcuts {
        position: absolute;
        top: 70px;
        left: 100%;
        background-color: var(--main-bg-color-3);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: all;
        transition: .3s all ease-in;
    }
    .Header__Menu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2em;
        cursor: pointer;
    }
    #side-menu:checked ~ .Header__Shortcuts{
        left: 0;
    }

    /* Main */
    .Main__Section{
        grid-template-columns: repeat(2, 1fr);
    }

    .Main__Article--Primary{
        grid-column: 1/3;
    }
    .Main__Image--Primary{
        height: 70%;
    }
    .Main__Text--Primary{
        font-size: 16px;
    }
    .Main__Text{
        font-size: 14px;
    }
    .Main__Section{
        width: 100%;
    }
    /* Footer */

    .Footer{
        display: flex;
        justify-content: space-evenly;
        font-size: 15px;
    }
}
@media (max-width: 600px){

    /* Main */
    .Main__Article--Primary{
        height: 400px;
        display: flex;
        flex-direction: column;
    }
    .Main__Image--Primary{
        width: 60%;
    }
    .Main__Text--Primary{
        width: 90%;
        font-size: 12px;
    }
    .Main__Section{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    /* Footer */
    .Footer{
        font-size: 12px;
        display: flex;
        justify-content: space-evenly;
    }
}